version: '3.7'
services:
  spring:
    container_name: spring
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M
        reservations:
          cpus: '1.0'
          memory: 1024M
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  postgres:
    image: postgres:15
    container_name: postgres
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M
        reservations:
          cpus: '1.0'
          memory: 1024M
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: 'example'
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      TZ: Asia/Seoul
    volumes:
      - ./db/postgres/data:/var/lib/postgresql/data
      - ./db/postgres/init:/docker-entrypoint-initdb.d
#  mysql-exporter:
#    container_name: mysql-exporter
#    image: prom/mysqld-exporter
#    command:
#      - "--mysqld.username=user:password"
#      - "--mysqld.address=mysql:3306"
#    ports:
#      - "9104:9104"
#    depends_on:
#      - mysql
