server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/example
    driverClassName: org.postgresql.Driver
    username: user
    password: password
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
management:
  endpoints:
    web:
      exposure:
        include: prometheus